<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="MongoDb" connectionString="mongodb://liubov:zeli123@ds235775.mlab.com:35775/clients" />
    </connectionStrings>
</configuration>